{%  extends "base.html" %}


{% block content %}

<div id="conteudo">
            
    <form class="form" action="/clientes" method="post">
        <h2>Cadastro de Clientes</h2>
        <input type="text" name="nome" placeholder="Nome Completo..."/>
        <input type="email" name="email" placeholder="Digite seu email..."/>
        <input type="text" name="telefone" placeholder="Digite seu telefone..."/>
        <input type="text" name="endereco" placeholder="Digite seu endereço..."/>
        <input type="text" name="bairro" placeholder="Digite seu bairro..."/>
        <input type="text" name="cidade" placeholder="Digite sua cidade..."/>
        <input type="text" name="cep" placeholder="Digite seu cep..."/>
        <input type="password" name="senha" placeholder="Crie sua senha..."/>
        <input type="password" name="senha2" placeholder="Digite novamente sua senha..."/>
        <input type="submit" name="acao" value="Enviar" />
    </form>
    
</div>



{% endblock %}