{%  extends "base.html" %}


{% block content %}

<main class="main">
    <h3>Editoras</h3>

    <div class="content-cards">
        <div class="card">
            <img src="/static/images/img1.jpg" class="imagem-produto">
            <p class="titulo">Sandman n01</p>
            <p class="valor">R$ 100,00</p>
            <button class="botao-comprar">COMPRAR</button>
        </div>
        <div class="card">
            <img src="/static/images/img6.jpg" class="imagem-produto">
            <p class="titulo">Sandman n02</p>
            <p class="valor">R$ 100,00</p>
            <button class="botao-comprar">COMPRAR</button>
        </div>
        <div class="card">
            <img src="/static/images/img3.jpg" class="imagem-produto">
            <p class="titulo">Sandman n03</p>
            <p class="valor">R$ 100,00</p>
            <button class="botao-comprar">COMPRAR</button>
        </div>
        <div class="card">
            <img src="/static/images/img4.jpg" class="imagem-produto">
            <p class="titulo">Sandman n04</p>
            <p class="valor">R$ 100,00</p>
            <button class="botao-comprar">COMPRAR</button>
        </div>
        <div class="card">
            <img src="/static/images/img5.jpg" class="imagem-produto">
            <p class="titulo">Sandman n05</p>
            <p class="valor">R$ 100,00</p>
            <button class="botao-comprar">COMPRAR</button>
        </div>
        
        
        
    </div>
    
</main>




{% endblock %}